.kam-pic {
	display: block;
	max-width: 100vw;
	max-height: 100vh;
	width: auto;
	height: auto;
}

.about-page {
	// ORIGINAL BACKGROUND
	// background: $dark-blue;
	// color: $off-white;
	// width: 100vw;
	// background-position: top left;

	// LIQUID GRADIENT BACKGROUND
	background-image: url(/images/balloonish-liquid-gradient-background-1.png);
	height: 50 vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.about-page-title {
	text-align: center;
	font-size: $xl-size;
	color: $off-white;
}

.about-page-bio {
	text-align: right;
	font-size: 2.5rem;
}

.about-page-img {
	height: auto;
	width: 90%;
}
