.banner-img1 {
	// margin-top: 12vh;
	margin-bottom: none;
	background-image: url('/images/baby-blurred.png');
	// background-position: center 12vh;
	background-repeat: no-repeat;
	// background-attachment: fixed;
	// background-clip: content-box;
	background-size: cover;
	scroll-behavior: unset;
	background-position: center;
	// max-width: 500px;
	// width: auto;
	height: 800px;
	overflow-x: hidden;
	// border: 10px solid $beige;
	// position: absolute;
}

.banner-logo {
	margin-top: 25vh;
	max-height: 100vh;
	max-width: 100vw;
	width: auto;
	position: absolute;
	overflow: hidden;
	overflow-x: hidden;
}
