.container {
	max-width: 80rem;
	// top-bottom first
	// left-right second
	margin: 0 auto;
	// this keeps the text from hitting the sides in smaller viewports
	padding: 0 $m-size;
}

// .page-background {
// 	background: rgb(220, 185, 156);
// 	background: linear-gradient(
// 		90deg,
// 		rgba(220, 185, 156, 1) 0%,
// 		rgba(17, 33, 104, 1) 95%
// 	);
// }
