.form-box {
	font-family: 'Quicksand', sans-serif;
	font-size: $m-size;
	height: $l-size;
	padding-left: $s-size;
	border: 0.5px solid $off-black;
	border-radius: 5px;
	color: $off-black;
}

.form-box::placeholder {
	color: $off-white;
}

// .dropdown-options {
// 	font-size: $s-size;
// }

.date-form-box {
	font-family: 'Quicksand', sans-serif;
	font-size: $m-size;
	height: $l-size;
	width: 150px;
	// padding-left: $s-size;
	border: 0.5px solid $off-black;
	border-radius: 5px;
	color: $off-black;
}

.date-form-box::placeholder {
	color: $off-white;
}

// .date-form-box:hover {
// 	background-color: $dark-blue;
// 	color: white;
// }

.date-form-box:hover::placeholder {
	color: white;
}
