.header {
	background: $beige;
	// background: linear-gradient(
	// 	135deg,
	// 	rgba(220, 185, 156, 1) 0%,
	// 	rgb(240, 240, 240) 99%
	// );
	opacity: 0.9;
	color: $dark-blue;
	border-bottom: 3px solid $dark-blue;
	height: 12vh;
	// padding: 0 $m-size;
	box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
}
