.item-cards {
	width: 35rem;
	height: 40rem;
	// padding: $s-size;
	// margin: $s-size;
	box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
	text-align: center;
	background-color: $off-white;
	border-radius: $s-size;
	align-items: center;
	// display: flex;
}

// .item-cards-title {
// }

// .item-cards-subtitle {
// }
