.review-page {
	margin-top: none;
	height: 50vh;

	// ORIGINAL BACKGROUND
	// background-color: $beige;
	// background-attachment: fixed;
	// background: linear-gradient(
	// 	180deg,
	// 	rgba(220, 185, 156, 1) 0%,
	// 	rgb(255, 255, 255) 99%
	// );

	// LIQUID GRADIENT BACKGROUND
	background-image: url('/images/balloonish-liquid-gradient-background-1.png');
	height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}

.review-text {
	font-size: $l-size;
}
