html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
	// scroll-snap-type: y proximity;
}

body {
	// font-family: Helvetica, Arial, sans-serif;
	font-size: $m-size;
	overflow: overlay;
	overflow-x: hidden;
	font-family: 'Quicksand', sans-serif;

	// LIQUID GRADIENT BACKGROUND
	background: url('/images/balloonish_background_2.png');
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto 100vh;
	overflow: hidden;
}

.app {
	overflow-x: hidden;
}

body::-webkit-scrollbar-track {
	background-color: #f5f5f500;
}

body::-webkit-scrollbar {
	width: 10px;
	background-color: transparent 100%;
}

body::-webkit-scrollbar-thumb {
	background-color: $beige;
	border-radius: 5px;
	border: none;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}
